body {
    font-family: 'Open Sans', sans-serif;
}

.navbar {
    margin-bottom: 0px;
    -webkit-transition: all 0.5;
    transition: all 0.5s;
}
.navbar-inverse .navbar-nav > li > a {
    color: #bbb;
}

.cbp-af-header-shrink {
    opacity: 0.9;
}

header  {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

footer {
    background-color: #333;
    color: #ddd;
    padding: 20px;
    text-align: center;
}

article {
    padding: 40px;
}
article img {
    width: 100%;
    height: 100%;
    text-align: center;
    box-shadow: 6px 6px 8px #777;
    margin-bottom: 20px;
}
article p {
    font-size: 16px;
}

.fill-screen {
    background-size:cover;
    background-position:center;
}

.content-filler {
    height: 300px;
}

.fixed-attachment {
    background-attachment: fixed;
}

.title-row {
    position: relative;
    min-height: 300px;
}
.title-image {
    position: absolute;
    padding: 20px;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}

.down-button {
    position: absolute;
    bottom: 40px;
    width: 100%;
    text-align: center;
}
.down-button i {
    color: white;
}

@media screen and (max-width: 767px){
    .navbar-header {
        position: relative;
    }
    .navbar img {
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
    }

    .imageLogo {
        content:url("../images/logo40.png");
        transform: translateX(-50%);
        left: 50%;
        position: absolute;
    }
}

@media screen and (min-width:768px) and (max-width:991px){
    .imageLogo {
        content:url("../images/logo40.png");
        padding-top: 10px;
    }

    .navbar-inverse .navbar-nav > li > a {
        font-size: 11px;
    }
}

@media screen and (min-width:992px) {
  .imageLogo {
    content:url("../images/logo60.png");
  }
}

@media (max-width: 1024px) {
    .fixed-attachment {
        background-attachment: scroll;
    }
}
