@font-face {
  font-family: 'AmericanTypewriter';
  src: url('AmericanTypewriter.woff') format('woff'),
       url('AmericanTypewriter.ttf') format('truetype'),
       url('AmericanTypewriter.svg#AmericanTypewriter') format('svg'),
       url('AmericanTypewriter.eot'),
       url('AmericanTypewriter.eot?#iefix') format('embedded-opentype'),
       url('AmericanTypewriter.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

body {
    font-family: Courier New, Courier, monospace;
    background-image: url(../images/back.png); 
    background-color: darkgrey;
}

.navbar {
    margin-bottom: 0px;
    -webkit-transition: all 0.5;
    transition: all 0.5s;
}

.navbar-inverse {
    background-color: #83867F;
}

.navbar-inverse .navbar-nav > li > a {
    color: white;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    color: #fff;
    background-color: #9d9d9d;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #83867F;
    color: white;
    background-color: #83867F;
}

.cbp-af-header-shrink {
    opacity: 0.9;
}

.cbp-af-header-shrink .submenu-text {
    display: none;
}

header  {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

footer {
    background-color: #83867F;
    color: #ddd;
    padding: 20px;
    text-align: center;
}

article {
    padding: 40px;
}
article img {
    width: 100%;
    height: 100%;
    text-align: center;
    box-shadow: 6px 6px 8px #777;
    margin-bottom: 20px;
}
article p {
    font-size: 16px;
}

.fill-screen {
    /*background-size:cover;
    background-position:center;*/

    background-size: cover;
    background-position:center; 
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.content-filler {
    height: 300px;
}

.fixed-attachment {
    background-attachment: fixed;
}

.title-row {
    position: relative;
    min-height: 300px;
}
.title-image {
    position: absolute;
    padding: 20px;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}

.down-button {
    position: absolute;
    bottom: 40px;
    width: 100%;
    text-align: center;
}
.down-button i {
    color: white;
}

.text-banner {
    text-align: center;
    margin: 40px 20px;
}

.text-banner h1 {
    font-size: 36px;
    margin-bottom: 30px;
}
.text-banner p {
    font-size: 18px;
}

.logo-text-white {
    color:white;
    display:inline;
}

.logo-text-black {
    color:black;
    display:inline;
}

.submenu-text {
    text-align: center;
    margin-right: -15px;
    margin-left: -15px;

    font-weight :500;

    /*text-shadow: 0 0 10px #fff,
            0 0 20px #fff,
            0 0 30px #fff,
            0 0 40px #ff00de,
            0 0 70px #ff00de,
            0 0 80px #ff00de,
            0 0 100px #ff00de,
            0 0 150px #ff00de;*/

    color:#fff;
    background-color:#83867F;
    text-shadow:#fff 0 0 10px;
}

.contact-us {
    margin: 50px;
    text-align: center;
}


.google-maps {
    position: relative;
    padding-bottom: 45%;
    overflow: hidden;
}

.google-maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}

@media screen and (max-width: 767px){
    .navbar-header {
        position: relative;
    }
    .navbar img {
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
    }

    .imageLogo::after {
        transform: translateX(-50%);
        left: 50%;
        position: absolute;
    }

    .google-maps {
        position: relative;
        padding-bottom: 90%;
        overflow: hidden;
    }

    .logo-text-white {
      font-size: 15px;
    }

    .logo-text-black {
      font-size: 15px; 
    }

    .submenu-text {
      font-size: 19px;
    }
}

@media screen and (min-width:768px) and (max-width:991px){
    .imageLogo::after {
        padding-top: 10px;
    }

    .navbar-inverse .navbar-nav > li > a {
        font-size: 11px;
    }
}

@media screen and (min-width:992px){
  body {
      font-size: 16px;
  }

  .logo-text-white {
      font-size: 30px;
  }

  .logo-text-black {
      font-size: 30px; 
  }

  .submenu-text {
      font-size: 35px;
    }
}

@media (max-width: 1024px) {
    .fixed-attachment {
        background-attachment: scroll;
    }
}
